<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>
  <setupStep>complete</setupStep>
  <setupType>custom</setupType>
  <buildNumber>5639</buildNumber>
  <properties>
    <property name="admin.ui.allow.daily.backup.custom.location">false</property>
    <property name="admin.ui.allow.manual.backup.download">false</property>
    <property name="admin.ui.allow.site.support.email">false</property>
    <property name="atlassian.license.message">AAABCA0ODAoPeNptkF1LwzAUhu/zKwJeZySZg66Qiy2tUOmH2OmFeBPj2Rbo0pI0xf1721XRiRcHz sd7zvNybnbHgO+VxZxjto45i28plvUOc8pWKAGvnel601ohW7tvAlgNrzFOB9UENfWRdHBJEtWDm LYIZYQvkR71C6V7M4DoXQD0szPXF0FuNFgPu3MHpTqBkFVRpI8y2+SoUMb2YNVITD86486/CJxwP h8ow+kNXLWXTfA9uLJ9By8oqtxBWeNn3NYc6omyMC2qwQ3gskRsn4s1KYv6hUR3iSRsE1FUp6UYg +QrFi0jTtGXvVGeZ8nV5Ar+5MF5Qdi3/n+/D8Hpo/Lw91OfsDx7jTAsAhRkoAWtK5Z48/pnEs3wE bRX3nzDdAIUGIzjctfRmTnJgIL63m0OCFUCvhg=X02dh</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>
    <property name="confluence.setup.server.id">BVM9-NMSZ-8FDC-1A80</property>
    <property name="confluence.webapp.context.path"></property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.timeout">30</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.isolation">2</property>
    <property name="hibernate.connection.password">confluence</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/confluence</property>
    <property name="hibernate.connection.username">confluence</property>
    <property name="hibernate.database.lower_non_ascii_supported">true</property>
    <property name="hibernate.dialect">net.sf.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.setup">true</property>
    <property name="lucene.index.dir">${localHome}/index</property>
    <property name="webwork.multipart.saveDir">${localHome}/temp</property>
  </properties>
</confluence-configuration>