#!/bin/bash
{{ certbot_dest }} \
  certonly \
  --standalone \
  --standalone-supported-challenges http-01 \
  --http-01-port {{ certbot_port }} \
  --agree-tos \
  --renew-by-default \
  --non-interactive \
  --email {{ ssl_email }} \
  -d {{ domain }} \
{% for s in haproxy['vhosts'] %}
{% if s['subdomain'] is defined %}
  -d {{ s['subdomain'] }}.{{ domain }} \
{% endif %}
{% endfor %}
  -d www.{{ domain }} &&
cat /etc/letsencrypt/live/{{ domain }}/{fullchain.pem,privkey.pem} > {{ bigsense_pem }} &&
service haproxy reload
