{% if database.type == 'postgres' %}
dbms=pgsql
dbPort=5432
{% endif %}
{% if database.type == 'mysql' %}
dbms=mysql
dbPort=3306
{% endif %}
{% if database.type == 'mssql' %}
dbms=mssql
dbPort=1433
{% endif %}
dbHostname={{ servers.database.hostname }}
dbDatabase={{ database.name }}
dbUser={{ database.username }}
dbPass={{ database.password }}
dboUser={{ database.ddl_username }}
dboPass={{ database.ddl_password }}
securityManager={{ bigsense.security_manager }}
httpPort={{ bigsense.http_port }}
server={{ bigsense.server }}
readOnly={{ bigsense.read_only | default('false') }}