Key-Type: {{pgp.key-type}}
Key-Length: {{pgp.key-length}}
Subkey-Type: {{pgp.subkey-type}}
Subkey-Length: {{pgp.subkey-length}}
Name-Real: {{pgp.name}}
Name-Comment: {{pgp.comment}}
Expire-Date: {{pgp.expire}}
Passphrase: {{pgp.passphrase}}
%pubring bigsense.pub
%secring bigsense.sec
%commit
%echo done
