Origin: repo.bigsense.io
Label: bigsense apt repository
Codename: trusty
Architectures: amd64 i386
Components: main
Description: bigsense ubuntu package repo
SignWith: no
Pull: trusty

Origin: repo.bigsense.io
Label: bigsense apt repository
Codename: wheezy
Architectures: amd64 i386
Components: main
Description: bigsense debian package repo
SignWith: no
Pull: wheezy
