dbms={{ bigsense.bigsense.dbms }}
environment= {{ bigsense.environment }}
connectionString={{ bigsense.connectionString }}
dbDriver={{ bigsense.dbDriver }}
dbUser={{ bigsense.dbUser }}
dbPass={{ bigsense.dbPass }}
dboUser={{ bigsense.dboUser }}
dboPass={{ bigsense.dboPass }}
securityManager={{ bigsense.SecurityManager }}
httpPort={{ bigsense.httpPort }}
dbPoolMaxPerPart={{ bigsense.dbPoolMaxPerPart|default('3') }}
dbPoolMinPerPart={{ bigsense.dbPoolMinPerPart|default('1') }}
dbPoolPartitions={{ bigsense.dbPoolPartitions|default('1') }}
server={{ bigsense.server }}
